html{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body
{
  font: 14px sans-serif;
  font-family: arial;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.page-header{
  color: white;
  background-color: #95283c;
  height: 150px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: flex;
}

.credentials{
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

img{
  display: block;
  margin: auto;
  height: 100%;
}

.titleName{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu{
  margin-top: 30px;
}

.warning{
  color: #95283c;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
